.description__title {
    margin: 3rem 0;
}

.description__text {
    gap: 1.5rem;
    width: 70%;
    font-size: 1.5rem;
}

@media (max-width: 1200px) {
    .description__title {
        font-size: 36px;
    }

    .description__text {
        width: 100%;
        font-size: 1rem;
    }    
}