.form__section {
    opacity: 0;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    padding: 0 2rem;
}

.form__section input {
    height: 50px;
    font-size: 1.25rem;
}

.form__section textarea {
    font-size: 1.25rem;
}

.form__section.opened {
    opacity: 1;
    z-index: 9999999;
}

.form__section button {
    margin: 1rem 0;
    font-size: 1.5rem;
}

.form__section form {
    background-color: #F8FAEF;
    padding: 30px 23px 9px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.form__cross {
    cursor: pointer;
    position: absolute;
    top: -20px;
    right: -20px;
    max-width: 40px;
    width: 100%;
}

.form__section label {
    color: #AEAEAE;
}

.form__section p {
    margin-top: 1rem;
    font-size: 1rem;
    text-align: center;
    color: #AEAEAE;
    padding: 0 2rem;
}

.form__block {
    width: 100%;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .form__section button {
        font-size: 1rem;
    }

    .form__section {
        font-size: 1rem;
    }
}